@charset 'utf-8';
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0;}
body{font-family:'微软雅黑';}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
ul,ol,li{list-style:none;}
a,u{text-decoration:none;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
img{border:0;display:block;}
.clear_fix:after{content:'.';clear:both;height:0;overflow: hidden;display:block;visibility:hidden;}
.clear_fix{zoom:1;}
html,body{
    height: 100%;
}
.no_padding{
    padding:0;
}
body{
    font-size: 16px;
    background-color: rgb(247, 247, 247);
    font-family: "HmdPureText","Microsoft JhengHei","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif!important;

}
.header{
    height:1.1rem ;
    font-size: 28px;
    font-weight: bold;
    color: #3c3c3c;
    text-align: center;
    line-height: 1.1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content{
    margin: 1rem auto 0;
    width: 4.3rem;
    height: 6.5rem;
}
#register{
    height: 5.51rem;
    width: 4.3rem;
}
.sel{
    height: 0.5rem;
    width: 1.935rem;
    margin-bottom: 0.2rem;
    color: #666;
    border: 1px solid #dcdcdc;
}
.sel option{
    font-size: 18px;
}
#mobile{
    height: 0.5rem;
    float:right;
    color: #666;
    border: 1px solid #dcdcdc;
    font-size: 18px;
    text-indent: 0.12rem;
}
.mobile_password,.mobile_password_confirm{
    display: block;
    width: 100%;
    height: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 0.18rem;
    text-indent: 0.12rem;
    color: #666;
    border: 1px solid #dcdcdc!important;
    box-sizing: border-box;
}
.password-hint{
    margin-left: 0.2rem;
    color: #000;
    font-size: 14px;
}
.containerL{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
}
.containerL input {
    position: absolute;
    top: 5px;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: white;
    border: 1px black solid;
}
.LoginA {
    color: #4d5766!important;
}
label{
    font-size: 18px;
    color: #333;
    cursor: pointer;
    z-index: 1;
}
.UserAgree-hint {
    color: #000;
    font-size: 14px;
}
#RegistrySiteTerms tr{
    height:0.6rem;
    padding: 1px;
}
.disabledbutton{
    opacity: .4;
    pointer-events: none;
}
.box{
    margin:0.3rem 0;
}
.LangNextStep{
    width: 100%;
    height: 0.6rem;
    margin:0 auto;
    text-indent: initial;
    border: 0;
    border-radius: 0.5rem;
    color: #FFF;
    background: #124191;
    cursor: pointer;
}
.terms{
    font-size: 12px;
}
.terms a{
    color: #4d5766;
}
.terms a:hover{
    color: #bec8d2;
}